<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{LABEL}}</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{PHP_BIN}}</string>
    <string>-d</string>
    <string>opcache.enable_cli=0</string>
    <string>{{PIPELINE_BIN}}</string>
    <string>run-once</string>
    <string>--quiet</string>
  </array>

  <key>WorkingDirectory</key>
  <string>{{WORKING_DIR}}</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{HOME}}</string>
    <key>PATH</key>
    <string>{{PATH}}</string>
    <key>XDG_CACHE_HOME</key>
    <string>{{XDG_CACHE_HOME}}</string>
    <key>HF_HOME</key>
    <string>{{HF_HOME}}</string>
  </dict>

  <key>StartInterval</key>
  <integer>{{INTERVAL}}</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>{{STDOUT}}</string>

  <key>StandardErrorPath</key>
  <string>{{STDERR}}</string>
</dict>
</plist>
